# Databricks SQL / all-purpose compute connection settings.
# Do not put real tokens in this file.

DATABRICKS_SERVER_HOSTNAME=adb-7405619320654449.9.azuredatabricks.net
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/REPLACE_WITH_YOUR_HTTP_PATH
DATABRICKS_TOKEN=REPLACE_WITH_YOUR_DATABRICKS_PAT

DATABRICKS_RAG_PACKAGE_TABLE=voltsentinel_gold.case_explanation_package
